In [1]:
---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

SyntaxError: invalid syntax (<ipython-input-1-d1477d234fb7>, line 1)

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [229]:
import xlrd as xl
import pandas as pd
import re
file1 = "course1_downloads/Energy Indicators.xls"
df=xl.open_workbook(file1)
type(df)
df=pd.read_excel(file1)
#df.head(100)
#df=pd.read_csv(file)
#def answer_one():
#    return "ANSWER
book=xl.open_workbook(file1)
# 2. dropping first two columns:

#for i in book.sheets():
#    print(i)
#dir(df)

df=df.drop(['Unnamed: 0','Unnamed: 1' ], axis=1)
df=df.drop(df.index[:16])
cols=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
df.columns=cols
df=df.reset_index(drop=True)

# converting col to integers
df['Energy Supply']=df['Energy Supply'].apply(pd.to_numeric,errors='coerce')

#checking dtype:
df['Energy Supply'].dtype

# converting peta to gigajoules:
df['Energy Supply']=df['Energy Supply'].apply(lambda x:x/1000000)
#or
#df['Energy Supply']=df['Energy Supply']/1000000

# renaming the coutnries:
df['Country']=df['Country'].replace({"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"
})

# removing brackets and numbers from countries:
import re
for i in df['Country']:
    r=str(i)
    r=re.sub('\(.*\)','',r)
    r=r.rstrip(' ')
    r=r.lstrip(' ')
    r=re.sub('\d+', '',r)
    df['Country']=df['Country'].replace({i:r})
df.head()
len(df)
# testing above
#print(df[ df['Country'].isin( ['Bolivia (Plurinational State of)'])] )
#(columns=['Unnamed: 0','Unnamed: 1'])

265

In [202]:
# loading GDP data
file2 = 'course1_downloads/world_bank.csv'
GDP = pd.read_csv(file)

# 1: skip header/footer
GDP.columns=GDP.iloc[3]
GDP = GDP.drop(GDP.index[:4])
GDP = GDP.reset_index(drop=True)

# 2: rename counties
GDP['Country Name'] = GDP['Country Name'].replace({
    "Korea, Rep.": "South Korea", 
    "Iran, Islamic Rep.": "Iran",
    "Hong Kong SAR, China": "Hong Kong"})
# checking using boolean masking
print(GDP[ GDP['Country Name'].isin(['Korea, Rep.']) ]   )

GDP = GDP.rename(columns={'Country Name':'Country'})

for i in GDP['Country']:
    r=str(i)
    r=re.sub('\(.*\)','',r)
    r=r.rstrip(' ')
    r=r.lstrip(' ')
    r=re.sub('\d+', '',r)
    df['Country']=df['Country'].replace({i:r})
    
#GDP[[2006.0, 2007.0,2008.0, 2009.0, 
#     2010.0, 2011.0, 2012.0,
#     2013.0, 2014.0, 2015.0]] = GDP.apply(lambda x:int(x) 
#                                          [2006.0, 2007.0,2008.0, 2009.0, 
#                                             2010.0, 2011.0, 2012.0,
#                                             2013.0, 2014.0, 2015.0] )
GDP=GDP.rename(columns={2006.0:int(2006.0)})

    

# Creating a dict from years static lists for renaming columns in GDP
years = [1960.0, 1961.0, 1962.0, 1963.0, 1964.0,
         1965.0, 1966.0, 1967.0, 1968.0, 1969.0,
         1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 
         1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 
         1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 
         1985.0, 1986.0, 1987.0, 1988.0, 1989.0,
         1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 
         1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 
         2000.0, 2001.0, 2002.0, 2003.0, 2004.0,
         2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 
         2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 
         2015.0]
years_int=[int(i) for i in years]
col_dict={}
for i in range(len(years)):
    col_dict[years[i]] = years_int[i]
GDP=GDP.rename(columns=col_dict)
GDP.head(1)

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0]
Index: []

[0 rows x 60 columns]

3,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN

In [203]:
#Join the three datasets: 
#GDP, Energy, and ScimEn 
#into a new dataset (using the intersection of country names). 
#Use only the last 10 years (2006-2015) of GDP data 
#and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).


# using the last ten years on GDP:
GDP = GDP.drop([1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 
      1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 
      1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 
          1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 
          1992.0, 1993.0, 1994.0, 1995.0,
          1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0,
          2002.0, 2003.0, 2004.0, 2005.0] ,axis=1)


# using only the top 15 countries in ScmEn Rank (1-15)
ScimEn=ScimEn.iloc[0:15]
ScimEn.head()


# joining the three datasets together:
#1: joining df with GDP
tab1 = df.merge(GDP, on='Country', how='inner')
tab2 = tab1.merge(ScimEn, on='Country', how='inner')
len(tab2)

12

In [204]:
#The index of this DataFrame should be the name of the country, 
#and the columns should be 
#['Rank', 'Documents', 'Citable documents', 'Citations', 
#'Self-citations', 'Citations per document', 'H index', 
#'Energy Supply', 'Energy Supply per Capita', '% Renewable', 
#'2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', 
#'2014', '2015'].

#tab2 = tab2.set_index('Country')
tab2.head()
tab2.columns.values
tab2 = tab2.drop(['Country Code', 'Indicator Name', 
                  'Indicator Code',], axis=1)

In [205]:
tab2

,Country,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,...,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,Australia,0.005386,231,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,...,1.241484e+12,1.272520e+12,1.301251e+12,14,8831,8725,90765,15606,10.28,107
1,Brazil,0.012149,59,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,...,2.409740e+12,2.412231e+12,2.319423e+12,15,8668,8596,60702,14396,7.00,86
2,Canada,0.010431,296,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,...,1.730688e+12,1.773486e+12,1.792609e+12,6,17899,17620,215003,40930,12.01,149
3,China,0.127191,93,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,...,7.672448e+12,8.230121e+12,8.797999e+12,1,127050,126767,597237,411683,4.70,138
4,France,0.010597,166,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,...,2.722567e+12,2.729632e+12,2.761185e+12,9,13153,12973,130632,28601,9.93,114
5,Germany,0.013261,165,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,...,3.567317e+12,3.624386e+12,3.685556e+12,7,17027,16831,140566,27426,8.26,126
6,India,0.033195,26,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,...,2.051982e+12,2.200617e+12,2.367206e+12,8,15005,14841,128763,37209,8.58,115
7,Italy,0.006530,109,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,...,2.040871e+12,2.033868e+12,2.049316e+12,11,10964,10794,111850,26661,10.20,106
8,Japan,0.018984,149,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,...,5.644659e+12,5.642884e+12,5.669563e+12,3,30504,30287,223024,61554,7.31,134
9,South Korea,0.011007,221,2.27935,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,...,1.194429e+12,1.234340e+12,1.266580e+12,10,11983,11923,114675,22595,9.57,104
10,Russian Federation,0.030709,214,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,...,1.666934e+12,1.678709e+12,1.616149e+12,5,18534,18301,34266,12422,1.85,57
11,Spain,0.004923,106,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,...,1.357139e+12,1.375605e+12,1.419821e+12,12,9428,9330,123336,23964,13.08,115

In [234]:
import re
def answer_one():
    file1 = "course1_downloads/Energy Indicators.xls"
    df=xl.open_workbook(file1)
    df=pd.read_excel(file1)
    df=df.drop(['Unnamed: 0','Unnamed: 1' ], axis=1)
    df=df.drop(df.index[:16])
    cols=['Country', 'Energy Supply', 
          'Energy Supply per Capita', '% Renewable']
    df.columns=cols
    df=df.reset_index(drop=True)
    # converting col to integers
    df['Energy Supply']=df['Energy Supply'].apply(pd.to_numeric,
                                                  errors='coerce')
    # converting peta to gigajoules:
    df['Energy Supply']=df['Energy Supply'].apply(lambda x:x/1000000)
    #or
    #df['Energy Supply']=df['Energy Supply']/1000000
    # renaming the coutnries:
    df['Country']=df['Country'].replace({
        "Republic of Korea": "South Korea",
        "United States of America": "United States",
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "China, Hong Kong Special Administrative Region": "Hong Kong"
            })
    # removing brackets and numbers from countries:
    for i in df['Country']:
        r=str(i)
        r=re.sub('\(.*\)','',r)
        r=r.rstrip(' ')
        r=r.lstrip(' ')
        r=re.sub('\d+', '',r)
        df['Country']=df['Country'].replace({i:r})
        # loading GDP data
    file2 = 'course1_downloads/world_bank.csv'
    GDP = pd.read_csv(file)
    # 1: skip header/footer
    GDP.columns=GDP.iloc[3]
    GDP = GDP.drop(GDP.index[:4])
    GDP = GDP.reset_index(drop=True)
    # 2: rename counties
    GDP['Country Name'] = GDP['Country Name'].replace({
        "Korea, Rep.": "South Korea", 
        "Iran, Islamic Rep.": "Iran",
        "Hong Kong SAR, China": "Hong Kong"})
    GDP = GDP.rename(columns={'Country Name':'Country'})
    #for i in GDP['Country']:
    #    r=str(i)
    #    r=re.sub('\(.*\)','',r)
    #    r=r.rstrip(' ')
    #    r=r.lstrip(' ')
    #    r=re.sub('\d+', '',r)
    #    df['Country']=df['Country'].replace({i:r})
        # Creating a dict from years static lists for renaming columns in GDP
    years = [1960.0, 1961.0, 1962.0, 1963.0, 1964.0,
             1965.0, 1966.0, 1967.0, 1968.0, 1969.0,
             1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 
             1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 
             1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 
             1985.0, 1986.0, 1987.0, 1988.0, 1989.0,
             1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 
             1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 
             2000.0, 2001.0, 2002.0, 2003.0, 2004.0,
             2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 
             2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 
             2015.0]
    years_int=[int(i) for i in years]
    col_dict={}
    for i in range(len(years)):
        col_dict[years[i]] = years_int[i]
    GDP=GDP.rename(columns=col_dict)
    file3='course1_downloads/scimagojr-3.xlsx'
    ScimEn=pd.read_excel(file3)
    ScimEn=ScimEn.iloc[0:15]
    # joining the three tables together
    #Join the three datasets: 
    #GDP, Energy, and ScimEn 
    #into a new dataset (using the intersection of country names). 
    #Use only the last 10 years (2006-2015) of GDP data 
    #and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).
    # using the last ten years on GDP:
    GDP = GDP.drop([1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 
          1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 
          1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 
              1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0,
              2002.0, 2003.0, 2004.0, 2005.0] ,axis=1)
    # joining the three datasets together:
    #1: joining df with GDP
    tab1 = df.merge(GDP, on='Country', how='inner')
    tab2 = tab1.merge(ScimEn, on='Country', how='inner')
    #The index of this DataFrame should be the name of the country, 
    #and the columns should be 
    #['Rank', 'Documents', 'Citable documents', 'Citations', 
    #'Self-citations', 'Citations per document', 'H index', 
    #'Energy Supply', 'Energy Supply per Capita', '% Renewable', 
    #'2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', 
    #'2014', '2015'].
    #tab2 = tab2.set_index('Country')
    tab2 = tab2.drop(['Country Code', 'Indicator Name', 
                      'Indicator Code'], axis=1)
    return tab2
answer_one()

,Country,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,...,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,Australia,0.005386,231,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,...,1.241484e+12,1.272520e+12,1.301251e+12,14,8831,8725,90765,15606,10.28,107
1,Brazil,0.012149,59,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,...,2.409740e+12,2.412231e+12,2.319423e+12,15,8668,8596,60702,14396,7.00,86
2,Canada,0.010431,296,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,...,1.730688e+12,1.773486e+12,1.792609e+12,6,17899,17620,215003,40930,12.01,149
3,China,0.127191,93,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,...,7.672448e+12,8.230121e+12,8.797999e+12,1,127050,126767,597237,411683,4.70,138
4,France,0.010597,166,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,...,2.722567e+12,2.729632e+12,2.761185e+12,9,13153,12973,130632,28601,9.93,114
5,Germany,0.013261,165,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,...,3.567317e+12,3.624386e+12,3.685556e+12,7,17027,16831,140566,27426,8.26,126
6,India,0.033195,26,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,...,2.051982e+12,2.200617e+12,2.367206e+12,8,15005,14841,128763,37209,8.58,115
7,Iran,0.009172,119,5.70772,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,...,4.445926e+11,4.639027e+11,NaN,13,8896,8819,57470,19125,6.46,72
8,Italy,0.006530,109,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,...,2.040871e+12,2.033868e+12,2.049316e+12,11,10964,10794,111850,26661,10.20,106
9,Japan,0.018984,149,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,...,5.644659e+12,5.642884e+12,5.669563e+12,3,30504,30287,223024,61554,7.31,134
10,South Korea,0.011007,221,2.27935,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,...,1.194429e+12,1.234340e+12,1.266580e+12,10,11983,11923,114675,22595,9.57,104
11,Russian Federation,0.030709,214,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,...,1.666934e+12,1.678709e+12,1.616149e+12,5,18534,18301,34266,12422,1.85,57
12,Spain,0.004923,106,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,...,1.357139e+12,1.375605e+12,1.419821e+12,12,9428,9330,123336,23964,13.08,115

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [212]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [ ]:
def answer_two():
    return "ANSWER"

<br>

Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [272]:
import numpy as np
def answer_three():
    Top15 = answer_one()
    #rowise operation to create new column
    Top15['avgGDP'] = Top15[[2006, 2007, 2008, 2009, 2010, 2011, 
                             2012, 2013, 2014, 2015]].mean(axis=1)
    return Top15['avgGDP']
answer_three()

0     1.164043e+12
1     2.189794e+12
2     1.660647e+12
3     6.348609e+12
4     2.681725e+12
5     3.493025e+12
6     1.769297e+12
7     4.441558e+11
8     2.120175e+12
9     5.542208e+12
10    1.106715e+12
11    1.565459e+12
12    1.418078e+12
Name: avgGDP, dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [285]:
def answer_four():
    Top15 = answer_one()
    Top15['avgGDP'] = Top15[[2006, 2007, 2008, 2009, 2010, 2011, 
                             2012, 2013, 2014, 2015]].mean(axis=1)
    Top15 = Top15.sort_values('avgGDP', ascending = True)
    Top15['change_in_GDP']=Top15[2015]-Top15[2006]
    sixth=Top15['change_in_GDP'].iloc[5]
    return sixth
answer_four()

228139911279.36011

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [ ]:
def answer_five():
    Top15 = answer_one()
    return "ANSWER"

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [ ]:
def answer_six():
    Top15 = answer_one()
    return "ANSWER"

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [ ]:
def answer_seven():
    Top15 = answer_one()
    return "ANSWER"

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [ ]:
def answer_eight():
    Top15 = answer_one()
    return "ANSWER"

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [ ]:
def answer_nine():
    Top15 = answer_one()
    return "ANSWER"

In [ ]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [ ]:
def answer_ten():
    Top15 = answer_one()
    return "ANSWER"

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
def answer_eleven():
    Top15 = answer_one()
    return "ANSWER"

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer_twelve():
    Top15 = answer_one()
    return "ANSWER"

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [ ]:
def answer_thirteen():
    Top15 = answer_one()
    return "ANSWER"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!